**Jupyter** allows you to write and run Python code through an interactive web browser interface.

Each Jupyter **notebook** is a series of **cells** that can have Python code or text.

The cell below contains Python code to carry out some simple arithmatic. You can run the code by selecting the cell and holding _shift_ while hitting _enter_. When you do this, the result of the arithmatic is displayed.

Here is the Python code for some simple arithmatic
```
3 * 4 * 5
```

Try running the code in the cell below:

In [3]:
3 * 4 * 6

72

Now, go back and change one of the numbers. Re-run the cell by hitting _shift_+_enter_.

_Exercise._ Compute the sum of the first five positive numbers, 1 through 5 inclusive.

In [4]:
1+2+     3 + 4    +5

15

This is some random text

### Variables

Python can do much more than arithmatic. We can create and use named **variables**.

To start, we'll create a variable named `x` and give it the value 7.

In [6]:
x = 7

There's no output when we do this, but Jupyter will keep track of this variable and we can use it later.

Below, we'll calculate the square of `x`

In [11]:
x**2

49

We can give the variable `x` a new value, which will replace the old one.

Going forward, any time we use `x`, it will have this new value.

Below, we'll give `x` the value 17 instead of 7

In [16]:
x = 17

Now, we can use this new value for `x` to compute the value of `x + 1`.

In [17]:
x + 1

18

We can even use the current value of `x` to compute a new value for `x`.

Here, we'll set x to twice its current value and print this new value

In [18]:
x = 2 * x
x

34

We can have many named variables at once and use them in complicated ways

In [19]:
y = 5
z = 3
(y + z)/(y - z)

4.0

If we try to use a variable that we haven't given a value, Python will report an error to us.

Try to use the value of `w`, which we haven't set yet.

In [20]:
w

NameError: name 'w' is not defined

The value for a variable is calculated at the time it is assigned. If we use the variable `a` to compute the value that we give to variable `b`, and then we later change the value of `b`, this doesn't affect `a`.

In the example below, we'll set `a` to 5, use it to compute a value for `b`, and then change `a` to 7.

In [21]:
a = 5
b = 2 * a
a = 7

Check the value of `b`, which was computed when `a` was set to 5.

In [22]:
b

10

Now, check the value of `a`, which was updated to 7 after it was used to compute the value for `b`.

In [23]:
a

7

In the examples above, we used one-letter variable names similar to the ones we use in mathematics.

It's often better to use longer and more descriptive names for variables. Clearer variable names will make it easier for others to understand your Python when reading it -- and for you to understand it yourself when you come back to it weeks or months later. 

For instance, here is Python code to define two variables representing the molecular masses of methionine and its oxidized derivative, methionine sulfoxide

```
methionine_mass = 131.0405
meth_sulfox_mass = 147.0354
```

Paste this into the cells below and use these variables to calculate the change in molecular mass that occurs when methionine is oxidized one step.

In [24]:
methionine_mass = 131.0405
meth_sulfox_mass = 147.0354
methSulfoxMass = 147.0354

meth_sulfox_mass - methionine_mass

15.994900000000001

Of course, sometimes we want to work with very large or very small numbers. Python can both produce and understand scientific notation.

Python defaults to scientific notation for very small numbers. For example, try printing the value of

```
1 / (1000 * 1000)
```

In [25]:
1 / (1000 * 1000)

1e-06

And, we can use scientific notation to write even ordinary numbers. For instance, to write 4,300, we can convert to scientific notation of 4.3 &times; 10&sup3;, which in Python is

```
4.3e3
```

Use this way of writing the number in the cell below.

In [26]:
4.3e3

4300.0

_Exercise._ 

A standard plasmid miniprep could produce 10 micrograms of plasmid DNA. The cell below has a variable representing the yield of DNA from the miniprep, in grams.

A typical plasmid containing a GFP reporter construct might be about 5 kilobase pairs long, and a single base pair has a molecular mass of 650 grams / mole. Add variables with descriptive names to store
- the size of the plasmid
- the molecular mass of one base pair

In [27]:
# mass in grams
plasmid_mass_yield = 10e-6

# size in base pairs
plasmid_size = 5000

# mol mass in (grams / mole)
base_pair_molmass = 650

_(continued)_ Use the variables you defined above to compute the value for a new variable with a descriptive name for 
- the molecular mass of the whole plasmid

and then print the result of this computation

In [30]:
# mol mass in (grams / mole)
plasmid_molmass = plasmid_size * base_pair_molmass
'%e' % plasmid_molmass

'3.250000e+06'

_(continued)_ Now compute the yield of DNA from the miniprep, in moles

In [31]:
# mole = grams / (grams / mole)
plasmid_mole_yield = plasmid_mass_yield / plasmid_molmass
plasmid_mole_yield

3.0769230769230773e-12

_(continued)_ Avogadro's constant is the number of molecules per mole. Use this to compute the number of copies of plasmid DNA in the miniprep.

```
avogadro = 6.02e23
```

In [33]:
avogadro = 6.02e23
plasmid_mole_yield
'%e' % (plasmid_mole_yield * avogadro)

'1.852308e+12'

_(continued)_ The miniprep produces 30 µl of DNA. Define a variable for this volume and use it to compute the concentration of DNA in the plasmid miniprep.

In [41]:
# volume in liters
volume = 30e-6
# moles / liters = molar
plasmid_mole_yield / volume

1.0256410256410257e-07

### Data types

Python keeps track of different **data types** for each variable and each output it computes. We've already seen two different data types, in fact -- one for integers (whole numbers) and one for numbers with a fractional part.

We can use `type()` to ask Python, what is the type of this value?

Here is an example, asking Python the type of the number `6`. The result of `int` is short for **int**eger.

In [34]:
type(6)

int

Below we ask Python the type of the number 2.5. The result of `float` is short for **float**ing-point number, which is a slightly confusing reference to the decimal point in a number with a fractional part.

In [35]:
type(2.5)

float

All of the values that Python computes have a data type.

Below, we ask Python the type of the value computed when we do multiplication `2*3`

In [36]:
type(2*3)

int

When we multiply two integers together, the result is also an integer.

Division can create non-integers from integers, however. Even though `5` and `2` are integers, `5/2` is not an integer.

In [37]:
type(5/2)

float

Because division can create non-integers, the output of division is _always_ a `float`, even when the result happens to be a whole number and the fractional part is 0.

In [39]:
type(6/2)
6/2

3.0

In fact, we can write a whole number as a `float` by adding the decimal point and zero, like `6.0`

In [40]:
6.0

6.0

Because Python keeps track of data types, the integer `6` and the number `6.0` are not exactly the same.

### Strings

Python can also keep track of text in variables. We'll often use text to store DNA or protein sequences using one-letter codes. The type of this text data is `str`, because the text is a **str**ing of characters.

To write a text string in Python, enclose it in single quotes. Using quotes allows Python to distinguish a text string from the name of a variable: `'x'` is a one-letter text string, and `x` refers to a variable with a one-letter name.

Here we look at the type of the string `'MCB200'`

In [43]:
type('MCB200')

str

We can join two strings together using `+`. Joining strings like this is called **concatenation**.

In [44]:
'MCB' + '200'

'MCB200'

Notice that the string `'200'` is different from the number `200`. The string is a sequence of three characters that happen to be digits, and adding two strings that happen to be numbers will not perform arithmatic.

Here we add the string `'200'` to the string `'100'`

In [45]:
'200' + '100'

'200100'

What happens when we try to add a string with an integer?

In [46]:
'200' + 100

TypeError: can only concatenate str (not "int") to str

The string `'200'` and the integer `100` are incompatible types, and when we try to add them, it produces a "type error". But, what if we have an integer and we want to turn it into a string?

We can use `str(...)` to convert a number into a string, like this:

In [48]:
'MCB' + str(100+100)

'MCB200'

_Exercise._ Define variables containing your first and last names. Use these variables to compute a string representing your full name. 

(_Hint_ You might need to add in some additional characters as well as the two name variables)

In [50]:
first_name = 'Nick'
last_name = 'Ingolia'
first_name + ' ' + last_name

'Nick Ingolia'

### Functions

`str()` is one example of a **function** in Python. We actually saw another example as well, `type()`.

Both of these functions take an **argument** as input and **return** a value computed using the argument. We say that we **call** a function when we run it.

The absolute value function `abs()` is also available in Python. Below we will call `abs()` on the value `-100` and see the return value.

In [51]:
abs(-100)

100

We can carry out further computations using the value returned by a function.

Below we double the result of taking the absolute value of -100. In mathematical terms, we're calculating _2 * |-100|_

In [52]:
2 * abs(-100)

200

We can also use complicated expressions as the argument to a function.

As shown below, we can compute the integer `200` using `abs()`, convert it into a string, and combine it with `'MCB'`

In [54]:
'MCB' + str(2 * abs(-100))

'MCB200'

Some functions take more than one argument. For instance, `max()` finds the maximum value among all of its arguments.

Here we find the largest number among `3`, `5`, and `4`:

In [55]:
max(3, 5, 4)

5

Python has a small collection of built-in functions, like `str()` and `abs()`, that are always available.

Another built-in function, `len()`, takes a string as an argument and returns the length of the string -- i.e., the nubmer of characters in the string.

In [56]:
len('MCB200')

6

The built-in function `print()` is useful for displaying the results of a computation in the middle of a cell. There were several places above where we split a single calculation across multiple cells in order to see an intermediate value. Other times, we assigned a value to a variable and then immediately used the variable just to see the result. In each of those cases, we could instead use `print()` to display the result and keep going.

Below, we use print to display some intermediate values when multiplying together two integers and then dividing them again, which produces a floating-point number.

In [57]:
x = 2
print(x)
x = x * 2
print(x)
x = x / 2
print(x)

2
4
2.0

The `print()` function has a special behavior with strings -- it doesn't display the quote marks and instead prints just the contents of the string.

Below we show the constrast between using `print()` on a string and displaying the string as the result of a computation.

In [58]:
x = 'MCB200'
print(x)
x

MCB200

'MCB200'

### Modules

In addition to these built-in functions, Python **modules** provide many other functions. For instance, many mathematical functions can be found in the `math` module. To use these functions, we must first **import** the `math` module. Once we do that, we can use mathematical functions such as `math.sqrt()`, which computes the square root of its argument.

We do this with

```
import math
math.sqrt(49)
```

In [59]:
import math
math.sqrt(49)

7.0

The `math` module also provides mathematical constants like π, named `math.pi`

In [60]:
math.pi

3.141592653589793

_Exercise._ The built-in `int()` function converts other data types to integers. Use `int()` to convert π to an integer and see the result.

In [61]:
int(math.pi)

3

_(continued)_ `int()` can also be used to convert a string to an integer. Try out this use of `int()` on a string that represents an integer.

In [63]:
2 * int('1342')

2684

_(continued)_ Now, test the use of `int()` on a string that does _not_ represent an integer, something with letters or other non-digits in it.

In [64]:
int('13A2')

ValueError: invalid literal for int() with base 10: '13A2'

_(continued)_ Use `int()` to convert _e_ (the natural logarithm base, Euler's number), given by `math.e`, to an integer.

In [67]:
int(math.e)

2

_(continued)_ Is this different from the result you would expect? Python has a built-in function called `round()` that is specialized for converting numbers to integers. Use `round()` on _e_ instead.

In [68]:
round(math.e)

3

### Methods

A **method** is a special kind of Python function that is "attached" to a Python type. For example, the `str` data type has many methods to carry out operations that make sense for a string.

For example, the `upper()` method returns a version of a string with all the letters converted to upper-case. 

Below we demonstrate the use of `upper()` on the string `'mcb200'`. Keep in mind that `upper()` doesn't take any arguments. We still need parentheses to indicate to Python that we're calling a function, and we can just use empty parentheses.

In [69]:
'mcb200'.upper()

'MCB200'

For comparison, we can see what happens when we leave off the parentheses:

In [70]:
'mcb200'.upper

The string method `replace()` creates a new string where a specified sub-string is replaced with something else. This method has two arguments: the substring to be changed, and the replacement.

Below, we show how `.replace()` can be used to change every occurrence of "ight" to "ite" in a short sentence, "turn right at the light tonight".

In [71]:
'turn right at the light tonight'.replace('ight', 'ite')

'turn rite at the lite tonite'

The string methods like `upper()` and `replace()` don't change the string itself, but instead make a new string based on the old one. We can see this by storing a string in a variable, using `upper()`, and then checking the original value of the variable.

In [72]:
original = 'mcb200'
new = original.upper()
print(original)
print(new)

mcb200
MCB200

In fact, we can never change the contents of an existing string; in Python, strings are **immutable**. We can assign a new string to an existing variable and replace the existing string, just as we could assign a new number to an existing variable to replace its current value.

Later on, we'll see other data types that are **mutable**.

_(Exercise)_ Here is a short DNA sequence written in lower-case letters. 

```
dna = 'atggctacacat'
```

Use the string methods we just learned to generate a corresponding RNA sequence using upper-case letters. Recall that RNA sequences have uracil in place of thymine.

In [73]:
dna = 'atggctacacat'
dna.replace('t','u').upper()

'AUGGCUACACAU'

_(continued)_ Switch the order of the two string methods to reach the same result. What else needs to change?

In [74]:
dna.upper().replace('T','U')

'AUGGCUACACAU'